.c-holiday-edit {
  max-width: 400px;
}

  .c-holiday-edit__section {
    border-bottom: 1px solid black;
    margin-bottom: 30px;
    padding-bottom: 20px;
  }

  .c-holiday-edit__sub-section {
    border-bottom: 1px solid lightgrey;
    margin-bottom: 20px;
  }
