@import './../../styles/partner/<!--partnerName--settings-->';
@import './../../styles/_tools';

.c-selector-item {
  border: 4px solid $selector-color;
  padding: 20px;
  cursor: pointer;
  @include selection-border-hover();
}

  .c-selector-item--selected {
    border-color: $selection-color;
  }
