.c-holiday-form__section {
  border-bottom: 1px solid black;
  margin-bottom: 30px;
  padding-bottom: 20px;
}

.c-holiday-form__sub-section {
  border-bottom: 1px solid lightgrey;
  margin-bottom: 20px;
}
