.o-spacing-bottom-small {
  margin-bottom: 6px;
}
.o-spacing-bottom {
  margin-bottom: 12px;
}
.o-spacing-bottom-xxlarge {
  margin-bottom: 36px;
}

.o-spacing-right {
  margin-right: 12px;
}
.o-spacing-right-xlarge {
  margin-right: 24px;
}
