  .c-scores__holiday-score-form {
    max-width: 340px;
  }

  .c-scores__holiday-results {
    position: fixed;
    top: 140px;
    bottom: 0;
    right: 0;
    padding: 20px;
    background: white;
  }
